.dot-carousel{
    display: flex;
    gap: 5px;
}
.dot-carousel>div{
    background-color:#E4E3E3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background-color .3s linear;
    cursor: pointer;
}
.dot-carousel div:first-child{
    background-color:  #2DA950;
}
.dot-carousel>div:hover{
    background-color: #CAD0CB;
}