.ask-questions{
    background-color:#E8EEE7;
    margin: 20px;
    border-radius: 40px;
}
.ask-questions>img{
    margin-top: 50px;
    margin-left: 150px;
    width: 200px;
}
.ask-questions-container{
    display: flex;
    gap: 100px;
   
}
.ask-questions-left>img{
    width: 400px;
    margin-top: 100px;
}
.ask-questions-left>h1{
    margin-left: 150px;
    font-size: 2.2rem;
}
.ask-questions-right>div{
   display: flex;
   justify-content: space-between;
   margin-inline: 40px;
   padding: 15px 0px 15px 0px;
   align-items: center;
   font-size: 1.2rem;
   /* background-color: aqua; */
}
.ask-questions-right>p{
    margin-inline: 40px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid #D7D7D7;
    padding: 15px 0px 15px 0px;
    color: #617275;

}
.ask-questions-right{
    /* margin-left: 100px; */
}
.plus-container{
    border-bottom: 1.5px solid  #D7D7D7;
    margin-bottom: 20px;
}
.plus-container>p{
    margin-right: 100px;
}
.plus-container>img{
    width: 10px;
    height: 10px;
}
.minus-container>img{
    width: 10px;
    height: 2px;
}
.minus-container{
    margin-bottom: 20px;
}
.ask-questions-right div:last-child{
    border-bottom: none;
}


@media screen and (max-width:870px) {
    .plus-container>p{
        margin-right: 50px;
    }
    .minus-container>p{
      margin-right: 50px;
    }
    .ask-questions-container{
        gap: 50px;
    }
    .ask-questions-left>h1{
        margin-left: 40px;
    }
    .ask-questions>img{
        margin-top: 50px;
        margin-left: 40px;
    }
    .ask-questions-left>img{
        width: 300px;
        margin-top: 100px;
    }
}

@media screen and (max-width:680px) {
    .ask-questions-container{
        flex-direction: column;
    }
    .ask-questions-left>img{
        display: none;
    }
}

