.register-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    padding: 20px;
}
.close{
    border: 1.5px solid  #CACACA;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}