@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  --white : #FFFFFF;
  --black : #1C1C1C;
  --white-hover:#F1F1F1;
  --white-border:#EAEAEA;
  --black-hover:#4E4E4E;
}

.black-hover{
  background-color: var(--black);
  color: white;
  border: none;
  transition: all .3s linear;
}
.white-hover{
  background-color: var(--white);
  border: 1px solid var(--white-border);
  transition: all .3s linear;
}
.black-hover:hover{
  background-color: var(--black-hover);
}
.white-hover:hover{
  background-color: var(--white-hover);
}

*{
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}